@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@400;500;600;700&display=swap');

:root {
    --bg: #ffffff;
    --fg: #000000;
    --sec: #acacac;
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg);
}

h1, p:not(.secondary), button {
    color: var(--fg);
}

p.sentiment-text.swap {
  opacity: 0;
  transform: translateY(10px);
}

.secondary {
    color: var(--sec)
}

button {
    cursor: pointer;
}
